<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <title>访客登记系统 - 桂林华为云计算数据中心</title>
    <link href="../css/project/common.css" rel="stylesheet" />
    <link href="../css/project/index.css" rel="stylesheet" />
</head>
<body>
    <div class="index_main_container">
        <div class="title">
            <span>访客登记系统</span>
        </div>
        <div class="login_container">
            <div>系统登录</div>
            <div>
                <div id="divDingLogin"></div>
            </div>
        </div>
    </div>
    <div class="index_bottom_container">
        <div class="ensure">
            <div class="e_list p1">
                <span class="tit">7X24小时</span>
                <span class="txt">实时监测服务</span>
            </div>
            <div class="e_list p2">
                <span class="tit">数据保障</span>
                <span class="txt">项目数据可靠保障</span>
            </div>
            <div class="e_list p3">
                <span class="tit">在线管理</span>
                <span class="txt">在线管理支持</span>
            </div>
            <div class="e_list p4">
                <span class="tit">移动支持</span>
                <span class="txt">支持主流移动设备</span>
            </div>
        </div>
        <div class="company">
            <p>桂ICP备18004901号</p>
            <p>
                桂林经开投资控股有限责任公司 信息中心 Copyright 2018 All Rights Reserved
            </p>
        </div>
    </div>
    <script src="../js/jquery-1.12.4.min.js"></script>
    <script src="../js/layer/layer.js"></script>
    <script src="../controller/common.js"></script>
    <script src="../controller/system.js"></script>
    <script src="../controller/index.js"></script>
    <script>
    </script>
</body>
</html>
