<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>项目管理信息系统 - 桂林经开投资控股有限责任公司</title>
</head>
<body>
    <script src="../../js/jquery-1.12.4.min.js"></script>
    <script src="../../js/layer/layer.js"></script>
    <script src="../../controller/common.js"></script>
    <script src="../../controller/system.js"></script>
    <script src="../../controller/account/login.js"></script>
    <script>
    </script>
</body>
</html>