<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>项目管理信息系统 - 桂林经开投资控股有限责任公司</title>
    <!--<link href="../../css/kendo/kendo.jkkg.css" rel="stylesheet" />-->
    <!--<link href="../../css/project/pmfont.css" rel="stylesheet" />-->
    <!--<link href="../../css/project/common.css" rel="stylesheet" />-->
    <link href="./../css/project/systemdata/element.css" rel="stylesheet" />
</head>
<body>
    <div id="elementToolbar"></div>
    <div id="elementData" class="full_screen"></div>
    <!--<script src="../../js/jquery-1.12.4.min.js"></script>-->
    <!--<script src="../../js/kendo/kendo.all.min.js"></script>-->
    <!--<script src="../../js/kendo/cultures/kendo.culture.zh-CN.js"></script>-->
    <!--<script src="../../js/kendo/messages/kendo.messages.zh-CN.js"></script>-->
    <!--<script src="../../js/layer/layer.js"></script>-->
    <!--<script src="../../controller/common.js"></script>-->
    <!--<script src="../../controller/system.js"></script>-->
    <script src="./../controller/systemdata/element.js"></script>
    <script>
    </script>
</body>
</html>